# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.env
.venv
venv/
ENV/

# Logs & data
*.log
Pega Logs/
logs/
*.sqlite

# Byte-compiled / optimized / DLL files
*.pyc

# Distribution / build
build/
dist/
*.egg-info/
.eggs/

# Git
.git
.gitignore

# OS / editor
.DS_Store
*.swp
.idea/
.vscode/

# Cache
.cache/
pytest_cache/

# Others
*.tmp
